<html>
<head>
  <meta charset="UTF-8"/>
  <title>content</title>
</head>
<body>
<div class="products-wrapper">

  <div class="product__container product__container_blue">
    <a class="product__link"
       href="https://operatino.github.io/MCSS/"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_red">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_green">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_yellow">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>

    </div>
  </div>

  <div class="product__container product__container_yellow">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_yellow">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_yellow">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>

  <div class="product__container product__container_yellow">
    <a class="product__link"
       href="http://www.reportshoes.com/shop/sale/madeira.html"
       title="About the product"></a>
    <div class="product__wrapper-control">
      <div class="product__btn product__btn_price">7 000 UAH</div>
    </div>
  </div>
</div>
</body>
</html>
