<header>

  <div class=""></div>
  <div class="boxLeft">

          <img src="../../assets/images/imgLeft.jpg" alt="Kansa Foto Left"/>

          <h4 class="">КОЖАНЫЕ ИЗДЕЛИЯ</h4>

  </div>

  <div class="boxCenter">

          <img src="../../assets/images/imgCenter.jpg" alt="Kansa Foto Center"/>

          <h4>ПРОДУКЦИЯ</h4>

  </div>

  <div class="boxRightTop">

          <img src="../../assets/images/imgRightTop.jpg" alt="Kansa Foto Top"/>

          <h4>KANSA</h4>

  </div>

  <div class="boxRightBottom">

          <img src="../../assets/images/imgRightBottom.jpg" alt="Kansa Foto RightBottom"/>

          <h4>блог & сезонные тенденции</h4>

  </div>

  <!--<a routerLink="/start"
     routerLinkActive="active"
     class="k-logo">

     <img src="../../assets/images/Otisk_kansa.svg"
          alt="Kansa Main Logo"/>

  </a>-->

  <app-menu></app-menu>

</header>

<router-outlet></router-outlet>

