

<footer>

  <div class="wrapper-network">

    <div class="wrapper-network logo-facebook">
      <a href="https://www.facebook.com/kansa.bags.dresses/"
         title="facebook">
        <img src="http://lorempixel.com/50/50"
             alt="The facebook logo"/></a>
    </div>

    <div class="wrapper-network logo-instagram">
      <a href="https://www.instagram.com/kansa_bags_dresses/"
         title="instagram">
        <img src="http://lorempixel.com/50/50"
             alt="The instagram logo"/></a>
    </div>

    <div class="wrapper-network logo-twitter">
      <a href="https://www.facebook.com/kansa.bags.dresses/"
         title="twitter">
        <img src="http://lorempixel.com/50/50"
             alt="The facebook logo"/></a>
    </div>

    <div class="wrapper-network logo-pinterest">
      <a href="https://www.pinterest.com/kansaUA/"
         title="pinterest">
        <img src="http://lorempixel.com/50/50"
             alt="The pinterest logo "/></a>
    </div>

  </div>

  <div class="logo-kansa">

    <a href="на главную страницу"
       title="KANSA">
      <img src="http://lorempixel.com/150/150"
           alt="The KANSA logo"/>
    </a>

  </div>

  <p>
    Тел: +38 (095) 290 3333 (Viber, WhatsApp). <br/>
    Skype: kansa_bags_dresses <br/>
    Email Аddress: kansalike@gmail.com
  </p>

</footer>
</body>
</html>
