.contact-form{
  margin:0 auto;
  display: flex;
  max-width: 1030px;
  align-items: center;
  justify-content: center;

  &__phone{

  }

  &__icon-top{
    display: flex;

  }

  &__icon-container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 200px;


    &_network{
      text-decoration: none;
      display: block;
      padding:30px 20px 20px;
      width: 55px;
      height:50px;
      border: 1px solid;
      background: #353535;
      border-radius:29%;
      margin: 0px 20px;


      // &::before{
      //   position: relative;
      //   content:"\2709";
      //   font-size: 550%;
      //   color: #999;
      //   font-family: campobello;
      // }
    }
  }

  .icon-container{

    &__phone_icon{
      &::before{
        position: relative;
        top: -60%;
        right: 10%;
        content:"\2706";
        font-size: 550%;
        color: #999;
        font-family: campobello;
      }
    }

    &__mail_icon{
      &::before{
        position: relative;
        top: -60%;
        right: 5%;
        content:"\2709";
        font-size: 550%;
        color: #999;
        font-family: campobello;
      }

    }

    &__facebook_icon{
      &::before{
        position: relative;
        top: -60%;
        right: 5%;
        content:"\2709";
        font-size: 550%;
        color: #999;
        font-family: campobello;
      }
    }

    &__twitter_icon{

    }
    &__instagram_icon{

    }

    &__pinterest-icon{

    }
  }


  &__send_letter{
    text-decoration: none;
    color: #000;

  }

  &__feedback-form{
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    flex-flow:column wrap;
  }
}

.feedback-form{
  &_h1{
    font-family: baskerville, sans-serif;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.025em;
    font-weight: 300;
    text-transform: uppercase;
    align-self: center;
  }

  &__input-form{
    display: flex;
    flex-flow: column wrap;
    &_row{
      border: 0px;
      border-bottom: 1px solid #353535;
      margin-bottom: 45px;
      font-size: 16px;
      padding: 5px;
    }

    &_btn{
      align-self: center;
      background: #353535;
      color: #fff;
      min-width: 100px;
    }
  }
}

.map{
  display: flex;

  &-control{
    width: 100%;
    frameborder: 0px;
    border: 0px;
  }
}


