<html>
<head>
  <meta charset="UTF-8" />
  <title>Contact form</title>
</head>
<body>
<div class="contact-wrap">

  <div class="contact-form">
    <div class="contact-form_phone">
      Тел: +38 (095) 290 3333 (Viber, WhatsApp). </br>
      • Skype: kansa_bags_dresses
    </div>

    <div class="contact-form__icon-top">
      <div class="contact-form__icon-container_network icon-container__phone_icon">
      </div>
      <div class="contact-form__icon-container_network icon-container__mail_icon">
      </div>
    </div>

    <a class="contact-form__send_letter"
       href=""
       title="send letter KANSA">
      Email Аddress: kansalike@gmail.com
    </a>
  </div>

  <section class="contact-form__feedback-form">
    <h1 class="feedback-form_h1">Contact form
    </h1>

    <form class="feedback-form__input-form"
          action="#"
          novalidate>

      <input class="feedback-form__input-form_row feedback-form__input-form__input_name"
             type="text"
             name="name"
             placeholder="Name"/>

      <input class="feedback-form__input-form_row feedback-form__input-form__input_email"
             type="text"
             name="email"
             placeholder="Email"/>


      <input class="feedback-form__input-form_row feedback-form__input-form__input_country"
             type="text"
             name="coutntry"
             placeholder="Coutntry"/>


      <input class="feedback-form__input-form_row feedback-form__input-form__input_company"
             type="text"
             name="company"
             placeholder="Company"/>


      <input class="feedback-form__input-form_row feedback-form__input-form__input_message"
             type="text"
             name="message"
             placeholder="Type your message"/>

      <button class="feedback-form__input-form_btn"
              type="submit"
              name="submit">Отправить
      </button>

    </form>


  </section>

  <div class="contact-form">
    <div class="contact-form__icon-container">
      <a href="" class="contact-form__icon-container_network icon-container__facebook_icon"
         title="Visit facebook page KANSA">
      </a>
      <a href="" class="contact-form__icon-container_network icon-container__twitter_icon"
         title="Visit twitter page KANSA">
      </a>
      <a href="" class="contact-form__icon-container_network icon-container__instagram_icon"
         title="Visit instagram page KANSA">
      </a>
      <a href="" class="contact-form__icon-container_network icon-container__pinterest-icon"
         title="Visit pinterest page KANSA">
      </a>
    </div>
  </div>
</div>
<div class="map">
  <iframe class="map-control"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162758.47733412313!2d30.39260920428456!3d50.40195139706329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LI!5e0!3m2!1suk!2sua!4v1496927702528"

          allowfullscreen>
  </iframe>

</div>
</body>
</html>
