
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About KANSA</title>
</head>
<body>
<div class="about-content">
  <div class="about-content about-content__txt-top">
    <b>KANSA bags</b> launched in 2010, is a brand from an international company                 ounded in  999. We develop and produce leather shoes for men who demand functional               footwear with a modern design and great quality. Our shoe lines range from classic               to casual. In 2014, Campobello launched a collection dedicated to women with the                 same principles of quality and style as the man collections.
    Our footwear fits perfectly within a modern and active lifestyle. The perfect                 combination of tradition, quality and modernity allows our shoes to be found in the             luxury sector.
    The Campobello Shoes have a unique style and keep up with contemporary fashion                   trends.
    Campobello is a trademark registered to A&R Pontes, Representações de Calçado S.A.
  </div>

  <section class="about-content section-container">
    <div class="section-container__img section-container__img-left">
      <img src="http://lorempixel.com/400/300"
           alt="img materials">
    </div>
    <section class="section-container__txt section-container__txt_right">
      <h3>MATERIAL'S SELECTION</h3>
      <p>The selection of the best materials is a tradition at Campobello. We select our leather based on the quality and focus all our attention on the small details.
      </p>
    </section>
  </section>

  <section class="about-content section-container">
    <div class="section-container__img section-container__img_right">
      <img src="http://lorempixel.com/400/300"
           alt="img design">
    </div>
    <section class="section-container__txt section-container__txt_left">
      <h3>DESIGN</h3>
      <p>Each Campobello shoe is the result of a unique and exclusive design, based on excellence, elegance and on the contemporary and modern style of each collection that we create.
      </p>
    </section>
  </section>

  <section class="about-content section-container">
    <div class="section-container__img section-container__img_left">
      <img src="http://lorempixel.com/400/300"
           alt="img production">
    </div>
    <section class="section-container__txt section-container__txt_right">
      <h3>PRODUCTION</h3>
      <p>The technique of footwear production is a science that is based on many years of experience.
      </p>
    </section>
  </section>

  <section class="about-content section-container">
    <div class="section-container__img section-container__img_right">
      <img src="http://lorempixel.com/400/300"
           alt="img design">
    </div>
    <section class="section-container__txt section-container__txt_left">
      <h3>QUALITY CONTROL</h3>
      <p>All Campobello footwear is carefully supervised to ensure a quick and effective delivery.
      </p>
    </section>
  </section>

  <div class="about-content about-content__txt_bottom">
    <button type="button"> WERE TO FIND OUR BREND </button>
  </div>

</div>

</body>
</html>


