<!--<div class="k-start_page">-->


  <!--<div class="k-start_page__wrapper">-->

    <!--<a class="k-start_page__full k-start_page__leather"-->
       <!--routerLink="/leather-goods"-->
       <!--routerLinkActive="active">-->
      <!--<h4>кожанные изделия</h4>-->
    <!--</a>-->

    <!--<a class="k-start_page__full k-start_page__products"-->
       <!--routerLink="/products"-->
       <!--routerLinkActive="active">-->
      <!--<h4>продукция</h4>-->
    <!--</a>-->

    <!--<div class="k-start_page__full">-->

      <!--<a class="k-start_page__half k-start_page__home"-->
         <!--routerLink="/home"-->
         <!--routerLinkActive="active">-->
        <!--<h4>kansa</h4>-->
      <!--</a>-->

      <!--<a class="k-start_page__half k-start_page__blog"-->
         <!--routerLink="/blog-seasons-trends"-->
         <!--routerLinkActive="active">-->
        <!--<h4>блог & сезонные тенденции</h4>-->
      <!--</a>-->

    <!--</div>-->
    <!--&lt;!&ndash; /.k-start_page__full &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /.k-start k-start_page-wrapper &ndash;&gt;-->

  <!--<div class="k-start k-start_page__socials">-->


  <!--</div>-->
  <!--&lt;!&ndash; /.k-start k-start_page&#45;&#45;socials &ndash;&gt;-->

  <!--<div class="k-start_page__footer">-->


  <!--</div>-->
  <!--&lt;!&ndash; /.k-start_page__footer &ndash;&gt;-->


<!--</div>-->
<!--&lt;!&ndash; /.k-start k-start_page &ndash;&gt;-->

<div class="main-nav">

    <div class="box boxLeft">
        <a href="leather-products.component.html">
            <img src="http://lorempixel.com/1200/1200"
                 title="leather-products"/>
            <h4>КОЖАНЫЕ ИЗДЕЛИЯ</h4>
        </a>
    </div>

    <div class="box boxCenter">
        <a href="products.component.html">
            <img src="http://lorempixel.com/1200/1200"
                 title="products"/>
            <h4>ПРОДУКЦИЯ</h4>
        </a>
    </div>

    <div class="box boxRight">

        <div class="boxRightTop">
            <a href="adout.component.html">
                <img src="http://lorempixel.com/1200/600"
                     title="about"/>
                <h4>KANSA</h4>
            </a>
        </div>

        <div class="boxRightBottom">
            <a href="blog.component.html">
                <img src="http://lorempixel.com/1200/600"
                     title="BlogSeasonalTrends"/>
                <h4>блог & сезонные тенденции</h4>
            </a>
        </div>
    </div>
</div>

<div class="network">

    <div class="facebook">
        <a href="https://www.facebook.com/kansa.bags.dresses/">
            <img src="http://lorempixel.com/350/350"
                 title="facebook"/>
        </a>
    </div>

    <div class="instagram">
        <a href="https://www.instagram.com/kansa_bags_dresses/">
            <img src="http://lorempixel.com/350/350"
                 title="instagram"/>
        </a>
    </div>

    <div class="twitter">
        <a href="https://www.facebook.com/kansa.bags.dresses/">
            <img src="http://lorempixel.com/350/350"
                 title="twitter"/>
        </a>
    </div>

    <div class="pinterest">
        <a href="https://www.pinterest.com/kansaUA/">
            <img src="http://lorempixel.com/350/350"
                 title="pinterest"/>

        </a>
    </div>

</div>



<app-main-nav></app-main-nav>
