<!--<div class="k-start_page">-->


  <!--<div class="k-start_page__wrapper">-->

    <!--<a class="k-start_page__full k-start_page__leather"-->
       <!--routerLink="/leather-goods"-->
       <!--routerLinkActive="active">-->
      <!--<h4>кожанные изделия</h4>-->
    <!--</a>-->

    <!--<a class="k-start_page__full k-start_page__products"-->
       <!--routerLink="/products"-->
       <!--routerLinkActive="active">-->
      <!--<h4>продукция</h4>-->
    <!--</a>-->

    <!--<div class="k-start_page__full">-->

      <!--<a class="k-start_page__half k-start_page__home"-->
         <!--routerLink="/home"-->
         <!--routerLinkActive="active">-->
        <!--<h4>kansa</h4>-->
      <!--</a>-->

      <!--<a class="k-start_page__half k-start_page__blog"-->
         <!--routerLink="/blog-seasons-trends"-->
         <!--routerLinkActive="active">-->
        <!--<h4>блог & сезонные тенденции</h4>-->
      <!--</a>-->

    <!--</div>-->
    <!--&lt;!&ndash; /.k-start_page__full &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /.k-start k-start_page-wrapper &ndash;&gt;-->

  <!--<div class="k-start k-start_page__socials">-->


  <!--</div>-->
  <!--&lt;!&ndash; /.k-start k-start_page&#45;&#45;socials &ndash;&gt;-->

  <!--<div class="k-start_page__footer">-->


  <!--</div>-->
  <!--&lt;!&ndash; /.k-start_page__footer &ndash;&gt;-->


<!--</div>-->
<!--&lt;!&ndash; /.k-start k-start_page &ndash;&gt;-->



<app-main-nav></app-main-nav>