
<div class="main-nav">

  <div class="box boxLeft">
    <a routerLink="/crisis-center"
       routerLinkActive="active">
      <img src="../../assets/images/imgLeft.jpg" alt="Кожаные изделия, сумки, кошельки"
        title="leather-products"/>
      <h4>КОЖАНЫЕ ИЗДЕЛИЯ</h4>
    </a>
  </div>

  <div class="box boxCenter">
    <a href="products.component.html">
      <img src="../../assets/images/imgCenter.jpg" alt="Продукция"
           title="products"/>
      <h4>ПРОДУКЦИЯ</h4>
    </a>
  </div>

  <div class="box boxRight">

    <div class="boxRightTop">
      <a href="adout.component.html">
        <img src="../../assets/images/imgRightTop.jpg" alt="О нас, канса"
             title="about"/>
        <h4>KANSA</h4>
        </a>
    </div>

    <div class="boxRightBottom">
      <a href="blog.component.html">
        <img src="../../assets/images/imgRightBottom.jpg" alt="Блог и сезонные тенденции"
             title="BlogSeasonalTrends"/>
        <h4>блог & сезонные тенденции</h4>
      </a>
    </div>
  </div>

</div>

  <div class="network">

    <div class="facebook">
      <a href="https://www.facebook.com/kansa.bags.dresses/">
        <img src="http://lorempixel.com/350/350" alt="Фейсбук"
             title="facebook"/></a>
    </div>

    <div class="instagram">
      <a href="https://www.instagram.com/kansa_bags_dresses/">
        <img src="http://lorempixel.com/350/350" alt="Инстаграм"
             title="instagram"/></a>
    </div>

    <div class="twitter">
      <a href="https://www.facebook.com/kansa.bags.dresses/" alt="Твитер">
        <img src="http://lorempixel.com/350/350"
             title="twitter"/></a>
    </div>

    <div class="pinterest">
      <a href="https://www.pinterest.com/kansaUA/" alt="Пинтерест">
        <img src="http://lorempixel.com/350/350"
             title="pinterest"/></a>
    </div>

  </div>

<footer>

  <div class="Shipping-payment">
    <a routerLink="/crisis-center"
       routerLinkActive="active"  title="доставка и оплата">
           <h4>Доставка и оплата</h4>
    </a>
   </div>

  <div class="k-logo">
    <img src="../../assets/images/k-logo.png" title="логотип канса" alt="логотип канса">
  </div>

  <div class="contacts">
    <h4>Skype: kansa_bags_dresses <br>
       Тел.: +38 (095) 290 33 33 (Viber, WhatsApp)</h4>
  </div>


</footer>

