<div class="main-nav">

  <div class="boxLeft">

    <a href="leather-products.component.html"><h4><img src="../../assets/images/imgLeft.jpg" title="leather-products"/>
          КОЖАНЫЕ ИЗДЕЛИЯ </h4>/>
    </a>

  </div>

  <div class="boxCenter">

    <a href="products.component.html"><h4><img src="../../assets/images/imgCenter.jpg" title="products"/>
          ПРОДУКЦИЯ</h4>
    </a>

   </div>

  <div class="boxRight">

        <div class="boxRightTop">

          <a href="adout.component.html"><h4><img src="../../assets/images/imgRightTop.jpg" title="about"/>
                KANSA</h4>
          </a>

        </div>

        <div class="boxRightBottom">

          <a href="blog.component.html"><h4><img src="../../assets/images/imgRightBottom.jpg" title="BlogSeasonalTrends"/>
                блог & сезонные тенденции</h4>

          </a>

      </div>

    </div>

       <!--<a routerLink="/start"
         routerLinkActive="active"
          class="k-logo">

          <img src="../../assets/images/Otisk_kansa.svg"
            alt="Kansa Main Logo"/>

           </a>-->
</divmain-nav>


  <app-menu></app-menu>


<router-outlet></router-outlet>




