.main-nav {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-content: stretch;


a, img {
  transition: all 1000ms ease-out;
  transition-delay: 150ms;
}

a:hover img {
  transform: scale(1.2);
}

img {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h4 {
  text-align: center;
  margin: auto;
  z-index: 9;
  display: flex;
}

a {
  display: flex;
  height: 100%;
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #fff;
}

}

.box {
  overflow: hidden;
  flex: 1;
  background: grey;

}

.boxLeft {
  background: #000;
  /*   border: 1px solid #000; */
}

.boxCenter {
  background: #fff;
  /*   border: 1px solid #000; */
  }

.boxRight {
  background: aqua;
}

.boxRightTop {
  height: 50vh;
  /*   border: 1px solid #000; */
  overflow: hidden;
}

.boxRightBottom {
  overflow: hidden;
  height: 50vh;
  /*   border: 1px solid #000; */
}

 .network {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: space-around;
}



/*@media screen and (max-width: 600px) {
  .main-nav {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .main-nav {
      width: 100%;
    }*/






