<div class="menu">
  <ul class="menu-items container">

    <li class="link">
      <a class="link_products link_products-about-us"
         href=""
         title="Go to the about KANSA">
        О НАС
      </a>
    </li>

    <li class="link">
      <a class="link_products link_products-leather"
         href=""
         title="Go to the leather-products">
        КОЖАНЫЕ ИЗДЕЛИЯ
      </a>
    </li>

    <li class="link">
      <a class="link_products link_product-all"
         href=""
         title="Go to the products">
        ПРОДУКЦИЯ
      </a>
    </li>

    <li class="link">
      <a class="link_products link_contacts"
         href=""
         title="Go to the contacts">
        КОНТАКТЫ
      </a>
    </li>

  </ul>
</div>
