<div class="container-inner">
    <!--         <div class="header-top">           -->
    <div class="logo">
        <a class="logo__link"
           href="kansa.com"
           title="Go to main page"><img
                src="http://lorempixel.com/220/75" alt="logo KANSA"/>
        </a>
    </div>

    <div class="nav-form">

        <div class="nav-toggle">ПЕРЕКЛЮЧеНИЕ ЯЗЫКА
        </div>

        <form class="nav-search"
              action="#"
              novalidate>
            <span class="nav-search__icon"><i class="nav-search__fa fa-search"></i></span>
            <input class="nav-search__search_line"
                   type="search"
                   name="search"
                   placeholder="Посик по сайту">

        </form>

        <div class="nav-office">
            <a href=""
               title="Go to my account">
                Личный кабинет</a>
        </div>

        <div class="nav-shopping-cart">
            <a href=""
               title="Go to shopping cart">
                Корзина
            </a>
        </div>

    </div>
    <!--         </div> -->
</div>
