<html>
<head>
  <meta charset="UTF-8" />
  <title>product description</title>
</head>
<body>
<div class="product-wrap">
  <div class="product-wrap-slider__product">
    <img src="http://lorempixel.com/150/150"
         alt="">

    <img src="http://lorempixel.com/350/350"
         alt="">

    <img src="http://lorempixel.com/150/150"
         alt="">
  </div>

  <div class="product-item">
    <div class="product-item-about__product">
      Пальто Марсала. <br/>
      Колір марсала <br/>
      Розмір. Матеріал. <br/>
      Ціна : 2800.00 грн. <br/>
    </div>

    <div class="product-item-add__cart">
      <button class="product-item-add__cart_buy" type="button">  ДОДАТИ В КОШИК</button>
    </div>

  </div>

</div>
</body>
</html>
